<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECサイト - カート一覧</title>
</head>
<body>
    <h3>カート内一覧</h3>
    <a href="{% url 'product_list' %}">商品一覧に戻る</a>
    <hr>
    <ul>
        {% for product in products %}
        <li>
            {{ product.name }}: {{ product.price }}
            <form method="post" action="{% url 'cart_delete' product.id%}">
                {% csrf_token %}
                <input type="submit" value="削除">
            </form>
        </li>
        {% endfor %}
    </ul>
    合計金額: {{ total_price }}
</body>
</html>